
.navbar{
	background: darkcyan;
}

table, th, td {
	border: 1px solid black;
}

th {
    height: 30px;
	background: darkcyan
}

h3{
	text-align: center;
}

th,td{
	text-align: center;
}
th[id="taskId"]{
	width: 10%;
}
th[id="comment"]{
	width: 40%;
}
th[id="startTime"]{
	width: 10%;
}
th[id="endTime"]{
	width: 10%;
}
th[id="minPerTask"]{
	width: 15%;
}
span[id="glyphicons"] a{
	display: inline-block;
	color: cornflowerblue;
}

.modal-header, .modal-footer{
	background: darkcyan;
}

span[id="glyphicons"] button{
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
	color: cornflowerblue;
}

.modal-content{
	width: 150%
	
}
input[name="taskId"]
{
	width: 10%;
}
input[name="comment"]
{
	width: 55%;
}
input[name="startTime"]
{
	width: 10%;
}
input[name="endTime"]
{
	width: 10%;
}